[
  {secure_chat, [
    %% Supabase PostgreSQL Session Pooler (IPv4 Compatible)
    {db_host, "aws-1-ap-southeast-2.pooler.supabase.com"},
    {db_port, 6543},
    {db_user, "postgres.rtdpvzlvdmkmhjdvwuz"},
    {db_pass, "jungkook@@@Ri"},
    {db_name, "postgres"},
    {http_port, 8080}
  ]},
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error}
  ]}
].

